-r requirements.in
# Packaging
bumpversion==0.5.3
PyYAML==3.13 # pyup: ignore
wheel==0.31.1
# Tests
pytest
pytest-cov
coverage==4.5.1
flake8==3.5.0
mock==2.0.0
tox
# Docs
Sphinx
sphinxcontrib-napoleon
sphinx_rtd_theme
nbsphinx
ipython
ipykernel
nbstripout
scikit-learn # for running some notebooks
seaborn
